[user]
	name = sharan.karanth@gmail.com
	email = sharan.karanth@gmail.com
[alias]
    ci = commit
    co = checkout
    st = status
    unstage = reset HEAD --
    unmerged = ls-files --unmerged        
[credential]
	helper = osxkeychain
[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    pager = true
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta
    old = red
    new = green
[color "status"]
    added = green
    changed = yellow bold
    untracked = white
[core]
	editor = /usr/bin/vim
